.button-change{
    background-color: #0b345d;
    border-radius: 10px;
    border: none;
    width: calc(100% - 62px);
    height: auto;
    margin: 10px 24px;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: whitesmoke;
    position: absolute;
    bottom: 60px;
    cursor: pointer;
}
.button-change:hover{
    background-color: whitesmoke;
    color: #0b345d;
}
.hidde{
    display: none;
}
.show{
    display: block;
}