.todo-header {
    position: relative;
    height: 250px;
    background: #0b345d;
    background-image: linear-gradient(155deg, #e6e6e6 0%, #eaeaea 50%, #ffffff 100%);
  }
.todo-header--container{
    width: 70%;
    margin: auto;
    padding-top: 100px;
    position: relative;
}
.todo-header--container h1 {
    color: rgb(89, 89, 89);
    padding-top: 10px;
    font-size: 18px;
  }
  .todo-header--container span{
    color: #023A69;
    font-size: 24px;
  }  
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  .img-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50px;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
  }
  .todo-header--container img{
    width: 100%;

  }
  @media (min-width: 700px){
    .todo-header{
      height: 50vh;
    }
    .todo-header--container h1{
      margin-top: 20px;
      margin-bottom: 0;
    }
    .todo-header--container h2{
      margin: 0;
    }
  }
  