.menu-profile{
    width: 80%;
    height: 60vh;
    background-color: whitesmoke;
    position: fixed;
    right: 0;
    top:20px;
    border-radius: 20px 0 0 20px;
    box-shadow: 2px 5px #1e1e1f2e;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    animation: menuIn ease-in 1s;
}
.hidde{
    animation: menuOut ease-out 1s;
    display:none;
}
.profile-title{
    text-align: center;
    color: #1E1E1F;
    margin-top: 40px;
    margin-bottom: 40px;
}
.nickname-label{
    align-items: left;
    padding-left: 26px;
    text-align: left;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #1E1E1F;
    font-weight: bold;
}
.nickname-input{
    border-radius: 10px;
    border: 2px solid #dbdbdb;
    margin: 10px 24px;
    height: 40px;
    padding-left: 40px;

    width: calc(100% - 42px);
    font-size: 16px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1E1E1F;
}
.nickname-input:focus {
    outline-color: #61DAFA;
}
/**********File Inputs**********/
.container-input {
    text-align: center;
    background: #282828;
    border-top: 5px solid #c39f77;
    padding: 50px 0;
    border-radius: 6px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    position: absolute;
    top: 61%;
    left: 15%;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}

.inputfile-1 + label {
    color: #023A69;
    background-color: #c3a07700;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    border-color: #023A69;
}

@media (max-width:320px){
    .menu-profile{
        width: 80%;
    }
    .nick-input{
        padding-left: 10px;
    }
} 
@media (min-width: 700px){
    .menu-profile{
        width: 45%;
    }
}
@media (min-width:1440px){
    .menu-profile{
        height: 50vh;
    }
    .nickname-input{
        width: 80%;
    }
    .inputfile + label svg {
        margin: 0;
        top: 63%;
        left: 35%;
    }
}
@keyframes menuIn {
    0% {
        transform: translateX(200px);
        animation-timing-function:ease-in;
    }
    50% {
        transform: translateX(100px);
       animation-timing-function:ease-in;
    }
    100% {
        transform: translateX(0px);
       animation-timing-function:ease-in;
    }
  }
  @keyframes menuOut {
    0% {
        transform: translateX(0px);
        animation-timing-function:ease-in;
    }
    50% {
        transform: translateX(100px);
       animation-timing-function:ease-in;
    }
    100% {
        transform: translateX(200px);
       animation-timing-function:ease-in;
    }
  }