.button-cancel{
    background-color: whitesmoke;
    border-radius: 10px;
    border: none;
    width: calc(100% - 62px);
    height: auto;
    margin: 10px 24px;
    padding: 5px 0;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    color: #0b345d;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.button-cancel:hover{
    background-color: #0b345d;
    color: whitesmoke;
}