.todo-counter-header{
 padding: 24px;
}

.todo-counter-header h1{

    font-size: 24px;
    text-align: left;
    font-family: 'Audiowide', sans-serif;
    /* text-shadow: 0 2px 10px #008BFF; */
    color: white;
    margin: 0;
    padding: 10px;
    padding-top: 100px; 
    
  }
 h2{
    color: rgb(89, 89, 89);
  }
   span{
    font-size: 40px;
    text-shadow: 0px 5px 25px rgba(56, 56, 56, 0.93);
  }