.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    font-size: 18px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-container-check {
    position: absolute;
    left: 10px;
    text-shadow: none;
    color: #636363;
  }
  .Icon-container-check--active {
    color: #8cde8f;
  }
  
  .Icon-container-delete {
    position: relative;
    top: -15px;
    right: -50px;
    text-shadow: none;
    font-weight: 100;
  }
  .Icon-container-closed, .Icon-container-open {
    position: absolute;
    top: 55px;
    right: 0;
    text-shadow: none;
    font-weight: 100;
    color: #023A69;
  }
  
  .Icon-container-delete:hover .Icon-svg {
    fill: rgb(244, 144, 144);
  }
  .Icon-container-check:hover .Icon-svg {
    fill: #8cde8f;
  }
  .Icon-svg{
    width: 18px;
    height: 18px;
  }
  .Icon-svg-menu{
    width: 30px;
    height: 30px;
  }